.description {
  text-align: center;
  overflow: hidden;
  @media (max-width: 480px) {
    padding-bottom: 22px;
  }
  @media (min-width: 481px) {
    padding-bottom: 12px;
  }
  @media (min-width: 993px) {
    padding: 94px 0 45px;
    background-color: #f4f4f4;
  }
  &__container {
    padding-right: 0;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'title' 'list' 'image';
    @media (min-width: 993px) {
      grid-template-columns: 1fr, 1fr;
      grid-template-areas:
        'list title'
        'list image';
      column-gap: 2%;
    }
    @media (min-width: 993px) and(max-width:1115px) {
      grid-template-rows: 60px auto;
    }
    @media (min-width: 1116px) {
      grid-template-rows: 88px auto;
      column-gap: 1%;
    }
  }
  &__title {
    grid-area: title;
    margin-bottom: 36px;
    padding-right: 10px;
    @include font(38, $accent-color, 32, 700);
    @media (min-width: 481px) and (max-width: 992px) {
      margin-bottom: 50px;
      @include font(44, $accent-color, 42, 700);
    }
    @media (min-width: 993px) and(max-width:1115px) {
      @include font(25, $accent-color, 38, 700);
      text-align: left;
    }
    @media (min-width: 1116px) {
      @include font(35, $accent-color, 48, 700);
      text-align: left;
    }
  }
  &__list {
    grid-area: list;
    margin-bottom: 80px;
    padding-right: 10px;
    @media (min-width: 481px) {
      margin-bottom: 88px;
      text-align: left;
    }
    @media (min-width: 993px) {
      width: 500px;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 38px;
      @media (min-width: 481px) {
        margin-bottom: 61px;
      }
      @media (min-width: 993px) {
        margin-bottom: 35px;
      }
    }
    //icons base styles
    &::before {
      content: '';
      display: block;
      margin: 0 auto 27px;
      @media (min-width: 481px) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: auto;
      }
    }
  }
  //icons svg
  @each $icon, $width, $height in (search-icon, 111, 64), (tools-icon, 90, 80), (flask-icon, 60, 84),
    (circle-icon, 71, 71)
  {
    &__item--#{$icon}::before {
      background: center / auto no-repeat url('../img/description/svg/#{$icon}.svg');
      width: #{$width}px;
      height: #{$height}px;
    }
  }
  &__item-title {
    margin-bottom: 14px;
    @include font(16, $dark-text-color);
    @media (min-width: 481px) {
      margin-bottom: 15px;
      padding-left: 134px;
      @include font(21, $dark-text-color, 16);
    }
  }
  &__content {
    @include font(21, $mid-text-color, 14);
    font-family: $descr-font-fam;
    @media (min-width: 481px) {
      padding-left: 134px;
      @include font(21, $mid-text-color, 14);
      font-family: $main-font-fam;
    }
  }
  &__img {
    grid-area: image;
    width: 100%;
    height: auto;
    @media (max-width: 480px) {
      max-width: 300px;
      margin-left: auto;
      box-shadow: -9px 0px 24px -10px #40464b4a;
    }
    @media (min-width: 481px) {
      box-shadow: -4px 0px 26px 0px #40464b4a;
    }
    @media (min-width: 481px) and (max-width: 992px) {
      max-width: 677px;
      margin-left: auto;
    }
    @media (min-width: 993px) and (max-width: 1220px) {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }
}
