$main-font-fam: 'Montserrat', 'Arial', sans-serif;
$descr-font-fam: 'Lato', 'Arial', sans-serif;
$accent-color: #8d81ac; //светло фиолетовый
$light-text-color: #fff;
$dark-text-color: #323232;
$mid-text-color: #848e97;
